{% extends 'base.html.twig' %}

{% block title %}Edit Variables{% endblock %}

{% block body %}
    <h1>Edit Variables</h1>

    {{ include('variables/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_variables_index') }}">back to list</a>

    {{ include('variables/_delete_form.html.twig') }}
{% endblock %}
