{% extends 'base.html.twig' %}

{% block title %}Edit Contextos{% endblock %}

{% block body %}
    <h1>Edit Contextos</h1>

    {{ include('contextos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contextos_index') }}">back to list</a>

    {{ include('contextos/_delete_form.html.twig') }}
{% endblock %}
