{% extends 'base.html.twig' %}

{% block title %}New Plantillas{% endblock %}

{% block body %}
    <h1>Create new Plantillas</h1>

    {{ include('plantillas/_form.html.twig') }}

    <a href="{{ path('app_plantillas_index') }}">back to list</a>
{% endblock %}
